body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #000000;
    padding: 10px;
}

#topics {
    color: #47ad72
}


.header {
    color: #da67c3
}

.topic-box {
    background: white;
    border: 2px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.topic {
    font-size: 25px
}

.description {
    font-weight: bold;
}

.lecture-date {
    font-style: italic;
}

.grading-table {
  border-collapse: collapse;
}

.grading-table th, .grading-table td {
  border: 1px solid #ccc;
  padding: 0.2em 0.2em;
  text-align: left;
}

.grading-table th {
  background-color: #2a4d8f;
  color: rgb(255, 255, 255);
}